
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<form action="~/users/processnewuser" method="post">
    <input type="text" name="userName" id="userName" placeholder="Kullanıcı Adı" data-val="true" data-val-required="Bu alan boş geçilemez!" maxlength="50" />
    <span class="field-validation-valid" data-valmsg-for="userName" data-valmsg-replace="true"></span> <!-- valmsg-usernamein hata mesajlarını bu id de ver class hazır scriptin classı -->
    <input type="password" name="password" id="password" placeholder="Parola" data-val="true" data-val-required="Bu alan boş geçilemez!" />
    <span class="field-validation-valid" data-valmsg-for="password" data-valmsg-replace="true"></span>
    <input type="password" placeholder="Parola(Tekrar)" id="password2" data-val="true" data-val-equalto="Şifreler aynı değil" data-val-equalto-other="#password" />
    <span class="field-validation-valid" data-valmsg-for="password2" data-valmsg-replace="true"></span>
    <input type="email" name="eMail" id="eMail" placeholder="E-Posta" data-val="true" data-val-required="Bu alan boş geçilemez!" data-val-email="Geçersiz e-posta adresi" maxlength="100"/>
    <span class="field-validation-valid" data-valmsg-for="EMail" data-valmsg-replace="true"></span>
    <input type="submit"  value="TAMAM" />
</form>
@if (ViewData["error"] != null) 
{
    <span>@ViewData["error"]</span>
}