
@{
    System.Data.DataRowCollection writers = (System.Data.DataRowCollection)ViewData["writers"];
    string writername;
}

<h2>Add</h2>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<form action="~/books/processnewbook" method="post">
    <input type="text" name="bookName" id="bookName" placeholder="Kitap Adı" data-val="true" data-val-required="Bu alan boş geçilemez!" maxlength="100" />
    <span class="field-validation-valid" data-valmsg-for="bookName" data-valmsg-replace="true"></span> <!-- valmsg-usernamein hata mesajlarını bu id de ver class hazır scriptin classı -->
    <input type="text" name="keywords" placeholder="Keywords" maxlength="100" />
    <select name="writer">
        @foreach (Library.Models.Library.WritesRow writersRow in writers)
        {

            writername = writersRow.writersName;
            if (writersRow.IswritersSurnameNull() == false)
            {
                writername = writersRow.writersName + " " + writersRow.writersSurname;
            }
            if (writersRow.IswritersAkaNull() == false)
            {
                writername = writername + " (" + writersRow.writersAka + ")";
            }
            <option value="@writersRow.id.ToString()">@writername</option>
        }
    </select>
    <input type="submit" value="TAMAM" />
</form>
@if (ViewData["error"] != null)
{
    <span>@ViewData["error"]</span>
}